body {
  background-image: url("https://images.creativemarket.com/0.1.0/ps/6284858/1820/1349/m1/fpnw/wm1/h3shkaymdtgj1lrrxpru1rijmz77hfitoacdwuwv93x0eulj8s9s7pvzoe5ftleh-.jpg?1555938621&s=1b1b31641079f69369eb77e2f576e481");
  background-repeat: no-repeat;
  color: #ffffff;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}
#dailyheadertwo {
  color: white;
}
h1 {
  margin-top: 15%;
  text-align: center;
  color: #ff8c00;
  font-size: 600%;
}
h1:hover {
  color: rgb(248, 252, 6);
}
#logo {
  margin-top: 80%;
  margin-left: 43%;
  height: 20%;
  width: 20%;
}
#favoritelist {
  border: 5px solid #ff8c00;
  color: white;
  width: 27%;
  top: 45%;
  margin-left: 70%;
  height: 400px;
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 60;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5%;
  height: 400px;
  /* padding-right: 4rem; */
  padding: 2rem 1rem;
  justify-content: center;
}

#fav-btn {
  height: 3rem;
  width: 12rem;
  border-radius: 3rem;
  color: white;
  background-color: transparent;
  font-style: oblique;
  margin: 0;
  position: absolute;
  top: 80%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-color: white;
  border-width: 0.2rem;
  box-shadow: white;
  font-weight: 900;
}
#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 25%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 3%;
  border: 3px solid #ff8c00;
  padding: 2rem 0.5rem;
}
#modalContent {
  margin-top: 40%;
}
#rightmodal {
  display: none;
  position: absolute;
  z-index: 1;
  left: 25%;
  top: 10%;
  width: 70%;
  height: 90%;
  margin-bottom: 5rem;
  overflow: auto;
  background-color: rgba(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5%;
  border: 2px solid white;
  margin: 1rem 2rem;

  /* height: max-content; */
}
#rightmodalcontent {
  margin-top: 10%;
}
#closerightmodal {
  color: red;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-left: 5rem;
}
#closefav {
  color: red;
  font-size: 28px;
  font-weight: bold;
  float: inline-end;
  padding-inline-start: 5rem;
  margin-top: 1;
  margin-left: 73%;
}

li {
  list-style: none;
}
::-webkit-scrollbar {
  width: 10px;
  max-height: min-content;
  border-radius: 19rem;
}
::-webkit-scrollbar-track {
  box-shadow: transparent;
  border-radius: 10rem;
  height: 70%;
  max-height: 90%;
}

::-webkit-scrollbar-thumb {
  background: lightgrey;
  border-radius: 10rem;
}
#close {
  color: red;
  float: right;
  margin-left: 73%;
  font-size: 28px;
  font-weight: bold;
  align-content: flex-end;
}

li {
  padding-top: 10%;
  padding: 1.5rem 1rem;
}
#recipebutton {
  height: 200px;
  position: relative;
  margin-left: 630px;
  margin-top: -50px;
}
#recipes-btn {
  height: 3rem;
  width: 12rem;
  border-radius: 3rem;
  color: white;
  background-color: transparent;
  font-style: oblique;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-color: white;
  border-width: 0.2rem;
  box-shadow: white;
  font-weight: 900;
}
#recipes-btn:hover {
  color: red;
}
#fullrecipebutton:hover {
  color: red;
}
#fullrecipebutton {
  margin-left: 70%;
  margin-bottom: 700px;
}

#fav-btn:hover {
  color: red;
}
#fullrecipebutton {
  margin-left: 70%;
  margin-bottom: 400px;
  height: 3rem;
  width: 12rem;
  border-radius: 3rem;
  color: white;
  background-color: transparent;
  font-style: oblique;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-color: white;
  border-width: 0.2rem;
  box-shadow: white;
  font-weight: 900;
}
#favoritebutton {
  margin-left: 70%;
  margin-bottom: 600px;
  height: 3rem;
  width: 12rem;
  border-radius: 3rem;
  color: white;
  background-color: transparent;
  font-style: oblique;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-color: white;
  border-width: 0.2rem;
  box-shadow: white;
  font-weight: 900;
  margin-top: 10%;
}

.imageId {
  width: 500px;
  text-align: center;
  margin-bottom: 3rem;
  border-top-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  border-top-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  margin-left: 4rem;
}
h2 {
  margin-top: 2%;
  text-align: center;
  color: #dddddd;
}
#recipeAllButtonsDiv {
  background-color: transparent;
  flex-direction: column;
  height: 100px;
  width: 100px;
  top: 0;
  flex-direction: column;
  margin-left: 70%;
}
#daily {
  align-items: center;
  text-align: center;
  /* margin-top: 80px;
  margin-left: 35%; */
}
#daily-btn:hover {
  color: red;
}
#daily-btn {
  height: 3rem;
  width: 12rem;
  border-radius: 3rem;
  color: white;
  background-color: transparent;
  font-style: oblique;
  margin: 0;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 0.2rem solid white;
  box-shadow: white;
  font-weight: 900;
  margin-left: -5%;
  top: 95%;
}

#daily-recipe {
  top: 81%;
  margin-top: 10%;
  height: 400px;
  width: 600px;
  margin-left: 30%;
  display: none;
  position: absolute;
  z-index: 1;
  overflow: auto;
  background-color: rgba(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5%;
  border: 5px solid #ff8c00;
  align-content: center;
  margin-bottom: 5rem;
  justify-content: center;
}

#daily-fav-btn {
  height: 3rem;
  width: 12rem;
  border-radius: 3rem;
  color: white;
  background-color: transparent;
  font-style: oblique;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-color: white;
  border-width: 0.2rem;
  box-shadow: white;
  font-weight: 900;
  margin-top: 3rem;
  margin-right: 6rem;
  margin-bottom: 2rem;
  position: absolute;
  align-content: center;
}

#form {
  text-align: center;
  display: flex;
  margin-top: auto;
}

#daily-recipe-close {
  color: red;
  float: right;
  margin-left: 57%;
  font-size: 28px;
  font-weight: bold;
  align-content: center;
}
h3 {
  color: fuchsia;
}
h3:hover {
  color: white;
}
li:hover {
  color: red;
}

#formCont {
  top: 180%;
}
#form {
  border: 5px solid #ff8c00;
  height: 400px;
  width: 400px;
  position: absolute;
  display: flex;
  top: 180%;
  border-radius: 5rem;
  justify-content: center;
  display: grid;
  text-align: center;
  padding: 1rem 2rem;
  justify-content: start;
  /* height: 100%; */
}

#feedbackname {
  height: 40px;
  width: 270px;
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin: 1;
}

#feedbackmessage {
  height: 70px;
  width: 270px;
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin: 1;
}
#commentsSection {
  border: 5px solid #ff8c00;
  position: absolute;
  top: 180%;
  margin-left: 40%;
  height: 430px;
  width: 700px;
  border-radius: 5rem;
  justify-content: start;
  padding-left: 2rem;
  padding-top: 2rem;
}

label {
  padding-left: 1rem;
  padding-right: 1rem;
}
#search {
  padding: 2rem 1rem;
  text-align: center;
}

#searchRecipe {
  height: 420px;
  width: 300px;
  border: 5px solid #ff8c00;
  justify-content: center;
  margin-left: 40%;
  margin-top: 90%;
  border-radius: 5rem;
}
#search-ing-recipe {
  margin-top: 60%;
  margin-left: -50%;
  height: 900px;
  width: 700px;
  border: 5px solid #ff8c00;
  justify-content: center;
  border-radius: 5rem;
  min-height: max-content;
  display: none;
}

input[type="text"] {
  width: 90px;
  height: 110px;
  border-radius: 1rem;
}
